@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Roboto+Slab:wght@300;400;500;600;700&family=Rye&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Slab", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: "0.3px";
  font-weight: 400 !important;
}

:root {
  --primary: #3fb0ac;
  --secondary: #3fb0ac26;
  --bg: #eef2f6;
  --bg_dark: #051114;
  --white: #ffffff;
  --mirage: #121926;
  --track_bg: #3fb0ac;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--track_bg);
  border-radius: 6px;
}

.ao {
  font-family: "Autour One", sans-serif !important;
  font-weight: 500 !important;
}

.max_width {
  max-width: 1600px !important;
  margin: 0 auto !important;
  /* border: 1px solid var(--primary); */
}

/* theme based */
.ant-layout,
.ant-layout-sider,
.ant-layout-sider-children,
.ant-menu-root,
.ant-menu-submenu,
.ant-menu-sub,
.ant-layout-sider-trigger,
.ant-layout-header,
.ant-table-container {
  background-color: var(--white) !important;
  transition: color 0.3s !important;
}

.dark .ant-layout,
.dark .ant-layout-sider,
.dark .ant-layout-sider-children,
.dark .ant-menu-root,
.dark .ant-menu-submenu,
.dark .ant-menu-sub,
.dark .ant-layout-sider-trigger,
.dark .ant-layout-header,
.dark .ant-table-container {
  background-color: var(--bg_dark) !important;
  transition: color 0.3s !important;
}

.ant-layout-content {
  background-color: var(--bg) !important;
  border-radius: 10px !important;
}

.dark .ant-layout-content {
  background-color: #030708 !important;
}

.ant-table-cell,
.dark .ant-table-cell::before {
  background-color: var(--white) !important;
  color: var(--mirage) !important;
}

.dark .ant-table-cell,
.ant-table-cell::before {
  background-color: var(--bg_dark) !important;
  color: var(--white) !important;
}

.ant-modal-content {
  background-color: var(--white) !important;
  border: 1px solid var(--primary) !important;
}

.dark .ant-modal-content {
  background-color: var(--bg_dark) !important;
  border: 1px solid var(--primary) !important;
}

.ant-modal-title {
  background-color: var(--white) !important;
  color: var(--mirage) !important;
}

.dark .ant-modal-title {
  background-color: var(--bg_dark) !important;
  color: var(--white) !important;
}

.ant-table-cell-row-hover,
.dark .ant-table-cell-row-hover,
.ant-table-cell:hover {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  transition: all 0.3s !important;
}

.ant-layout-sider-trigger .anticon,
.ant-table-container {
  color: var(--bg_dark);
}

.ant-table-content {
  border: 2px solid var(--secondary);
  border-radius: 8px;
}

.ant-table-cell,
.dark.ant-table-cell {
  border-bottom: 2px solid var(--secondary) !important;
}

.dark .ant-layout-sider-trigger .anticon,
.ant-table-column-sorter,
.ant-modal-close {
  color: var(--primary) !important;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active,
.ant-picker-cell {
  color: var(--secondary) !important;
}

.ant-menu-item,
.ant-menu-submenu-title,
.ant-menu-title-content {
  color: var(--mirage) !important;
  transition: color 0.3s !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover,
.ant-menu-title-content:hover,
.dark .ant-menu-item:hover,
.dark .ant-menu-submenu-title:hover,
.dark .ant-menu-title-content:hover {
  color: var(--primary) !important;
}

.ant-menu-item:hover,
.ant-menu-submenu:hover div,
.ant-menu-item-selected {
  background-color: var(--secondary) !important;
}

.dark .ant-menu-item,
.dark .ant-menu-submenu-title,
.dark .ant-menu-title-content,
.dark .ant-table-container {
  color: var(--white) !important;
  transition: color 0.3s !important;
}

.ant-breadcrumb-separator {
  color: var(--mirage) !important;
}

.dark .ant-breadcrumb-separator {
  color: var(--primary) !important;
}

.ant-card-head-title {
  color: var(--mirage) !important;
}

.dark .ant-card-head-title {
  color: var(--white) !important;
}

.ant-card-head {
  border-bottom: 2px solid var(--secondary) !important;
}

.ant-pagination-item,
.ant-select-selector,
.ant-picker-panel-layout {
  background-color: var(--bg);
}

.dark .ant-pagination-item,
.dark .ant-select-selector,
.dark .ant-select-dropdown,
.dark .ant-picker-panel-layout {
  background-color: var(--bg_dark) !important;
}

.ant-pagination-item a,
.ant-pagination-item-link,
.ant-pagination-options .ant-select-selector,
.ant-pagination-options .ant-select-item,
.ant-pagination-options .ant-select-arrow,
.ant-spin-dot-holder,
.ant-picker-header > button,
.ant-picker-footer a:hover,
.ant-picker-header-view > button:hover {
  color: var(--primary) !important;
}

.ant-select-selector,
.ant-select-item,
.ant-picker-suffix,
.ant-select-arrow,
.ant-picker-clear,
.ant-picker-header,
.ant-picker-footer,
.ant-picker-cell-in-view,
.ant-picker-content th {
  color: var(--mirage) !important;
}

.dark .ant-select-selector,
.dark .ant-select-item,
.dark .ant-picker-suffix,
.dark .ant-select-arrow,
.dark .ant-picker-clear,
.dark .ant-picker-header,
.dark .ant-picker-footer,
.dark .ant-picker-cell-in-view,
.dark .ant-picker-content th {
  color: var(--white) !important;
}

.ant-pagination-disabled > button > span {
  color: var(--secondary) !important;
}

.ant-pagination-item-active,
.ant-select-selector,
.ant-picker-cell-inner::before,
.ant-picker-header,
.ant-picker-footer {
  border-color: var(--primary) !important;
}

.ant-select-item-option-active,
.ant-select-item-option-selected,
.ant-picker-cell-hover > .ant-picker-cell-inner:hover {
  background-color: var(--secondary) !important;
}

.ant-select-dropdown,
.ant-picker-panel-layout {
  border: 1px solid var(--primary);
}

.ant-picker-panel-layout {
  border-radius: 8px !important;
}

.ant-picker-cell-selected > .ant-picker-cell-inner,
.ant-picker-cell-selected > .ant-picker-cell-inner:hover {
  background-color: var(--primary) !important;
}

.rye {
  font-family: "Rye", cursive !important;
}

.gbg {
  background: #3fb0ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    320deg,
    #051114,
    #3fb0ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    320deg,
    #051114,
    #3fb0ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
  position: relative;
  /* width: 340px; */
  border-radius: 10px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  /* width: 340px; */
  background: linear-gradient(
    0deg,
    transparent,
    var(--primary),
    var(--primary)
  );
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  /* width: 340px; */
  background: linear-gradient(
    0deg,
    transparent,
    var(--primary),
    var(--primary)
  );
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

.content {
  position: absolute;
  inset: 4px;
  border-radius: 7px;
  z-index: 10;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loading */

.loading_container {
  position: absolute;
  top: 45%;
  left: 48%;
}

.square {
  width: 8px;
  height: 30px;
  background: var(--secondary);
  border-radius: 10px;
  display: block;
  /*margin:10px;*/
  animation: turn 2.5s ease infinite;
  box-shadow: var(--secondary) 0px 1px 15px 0px;
}

.top {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: rotate(90deg);
}

.bottom {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: rotate(-90deg);
}

.left {
  position: absolute;
  left: 40%;
  top: 50%;
}

.right {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: rotate(-180deg);
}

@-webkit-keyframes turn {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }

  50% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

@keyframes turn {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }

  70% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }

  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

@media only screen and (max-width: 576px) {
  .ant-pagination .ant-pagination-options {
    display: inline-block !important;
    /* margin-inline-start: 16px; */
    vertical-align: middle;
  }

  .ant-table-pagination {
    flex-wrap: nowrap !important;
    justify-content: center !important;
    margin-left: 50px !important;
  }
}
